# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# hide target folder
target/*

#hide intellij stuff
*.iml
.idea

application.yaml
application-*.yml
service-account.json

# vscode
.vscode
.classpath
.factorypath
.project
.settings

# jenv
.java-version
/private/
